<div class="container-fluid">
  <div ng2-carouselamos class="slides-wrapper" style=" margin-right: 300px;"
    [items]="items"
    [width]="800"
    [$prev]="prev"
    [$next]="next"
    [$item]="item">
  </div>

  <ng-template #prev>
    <img class="navigation-arrow" src="assets/images/left-arrow.png">
  </ng-template>

  <ng-template #next>
    <img class="navigation-arrow" src="assets/images/right-arrow.png">
  </ng-template>

  <ng-template #item let-item let-i="index">
    <div class="items">
      <div class="card-deck">
        <div class="card card-cascade narrower">
          <div class="card-body">
            <img class="card-icon" src="{{ item.src }}" alt="Carousel IMG">
            <p class="status text-right">{{ item.stats }}</p>
            <h4 class="name card-title">{{ item.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
