<div class="container-fluid">
 <div class="row">
  <div class="col-md-3" *ngFor="let course of courses">
    <div class="card-deck">
      <div class="card card-adjust" >
        <img class="card-img-top card-img-modified" src="{{course.src}}" alt="C Programming">
        <div class="card-body card-body-adjust">
          <h4 class="card-title"><a>{{course.text}}</a></h4>
          <p class="card-text">. {{course.modules}} modules <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. {{course.hours}} hours</span></p>
          <div class="progress md-progress" >
              <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="card-percentage">
              <p>{{course.percentage}} <br>Completed</p>
          </div>
        </div>
      </div>
      <button type="button" routerLink="cprograming"  class="btn btn-primary" >click me</button>
    </div>
  </div>
 </div>
</div>
