.container-fluid {
  background-image: linear-gradient(to top right, rgb(159, 252, 182) , #FFFFFF);
  height: 100vh;
 
}

button {
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 16px !important;
  background-color: #8CC63F !important;
}
.card {
  background-color: rgba(33, 33,33, 0.2) !important;
} 
a:hover{
  color: black
}
.card-cascade{
  display: block;
}
