.container-fluid {
  background-color: #FFFFFF;
  margin-top: 6px;
}
.items {
  padding: 30px 0 20px;
}
.navigation-arrow {
  height: 30px;
}
.card {
  width: 225px;
  margin-right: 30px;
  background-color: #DCEDC7;
}
.card-body {
  padding: 10px;
}
.card-icon {
  top: -20px;
  position: absolute;
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
.card-title {
  float: right;
  color: #333333;
  font-size: 18px;
  margin: 0;
}
.status {
  font-size: 12px;
  color: #333333;
}
.name {
  font-size: 16px;
  font-weight: 500 !important;
}
#prv-btn {
  position: relative;
  left: -25px;
}
#nxt-btn {
  position: relative;
  right: -25px;
}
